<div class="content center-text">
    <h1>난민들에게 필요한 교육 강의를<Br>직접 검색해 보세요</h1>
    <span class="under-heading color-highlight font-10">당신의 작은 소비로 난민의 인생을 바꿀 수 있습니다</span>
    <p class="boxed-text-huge top-10 bottom-30">
        HireChance는 100% 공정한 전문 커피를 판매함으로써 전 세계 난민들을 위한 온라인 기술과 언어 교육을 위한 경력 구축에 자금을 지원합니다.
    </p>
    <a href="/subscription" class="button button-m button-center-large bg-highlight button-circle shadow-huge bottom-30">정기구독 바로가기</a>
</div>
        <div class="divider divider-margins"></div>
        <%= search_form_for @q, class: "search-box search-color content round-tiny bottom-30" do |f| %>
        <div class="row">
          <i class="fa fa-search"></i>
          <%= f.search_field :title_or_address_or_category_cont, placeholder: "강의 제목, 내용, 카테고리를 검색하세요", class: "col-9" %>
          <i class="fa fa-times disabled color-red2-dark"></i>
        </div>
      <% end %>
      <% if @q.title_or_address_or_category_cont.present? %>
      <div class="divider divider-margins"></div>
        <div class="content">
            <div class="content-title has-icon">
                <h3><%= @q.title_or_address_or_category_cont %> 검색결과</h3>
                <i class="far fa-clock bg-blue2-dark shadow-huge"></i>
            </div>
        </div>
      <% end %>
      <% @lectures&.each do |p| %>
        <%= link_to lecture_path(p.id), class: "external" do %>
          <a href="/lectures/<%= p.id %>" data-menu="menu-instant-3" data-height="220" class="external caption caption-margins round-medium shadow-huge">
              <div class="caption-top left-15 top-15">
                  <div class="caption-author-left">
                      <img src="images/empty.png" data-src="images/preload-logo.png" class="preload-image">
                      <strong><%= p.category %></strong>
                      <span><%= p.category %></span>
                  </div>
              </div>

              <div class="caption-top right-text top-10 right-15">
                  <span class="color-white ultrabold font-9">더보기</span>
              </div>

              <div class="caption-bottom left-20 bottom-20">
                  <p class="color-white opacity-70 bottom-0 font-12"><%= p.address.truncate(50)%></p>
                  <h1 class="color-white bolder font-32"><%= p.title %></h1>
              </div>
              <div class="caption-overlay bg-black opacity-70"></div>
              <div class="caption-bg bg-12"></div>
          </a>
        <% end %>
      <% end %>
        <div class="divider divider-margins"></div>
        <div class="content">
            <div class="content-title has-icon">
                <h3>최신 업데이트</h3>
                <span class="color-highlight">가장 최근 추가된 강의입니다.</span>
            </div>
        </div>
        <% @recent&.each do |p| %>
          <%= link_to lecture_path(p.id), class: "external" do %>
            <a href="/lectures/<%= p.id %>" data-menu="menu-instant-3" data-height="220" class="external caption caption-margins round-medium shadow-huge">
                <div class="caption-top left-15 top-15">
                    <div class="caption-author-left">
                        <img src="images/empty.png" data-src="images/preload-logo.png" class="preload-image">
                        <strong><%= p.category %></strong>
                        <span><%= p.category %></span>
                    </div>
                </div>

                <div class="caption-top right-text top-10 right-15">
                    <span class="color-white ultrabold font-9">더보기</span>
                </div>

                <div class="caption-bottom left-20 bottom-20">
                    <p class="color-white opacity-70 bottom-0 font-12"><%= p.address.truncate(50)%></p>
                    <h1 class="color-white bolder font-32"><%= p.title %></h1>
                </div>
                <div class="caption-overlay bg-black opacity-70"></div>
                <div class="caption-bg bg-12"></div>
            </a>
          <% end %>
        <% end %>

        <div class="divider divider-margins"></div>

        <div class="content">
            <div class="content-title has-icon">
                <h3>언어 강의 추천</h3>
                <span class="color-highlight">영어, 한국어, 중국어, 일본어 등 언어관련 강의</span>
                <%= link_to lecture_search_path(lecture_id: @languages.last.category_before_type_cast) do %>
                  <i class="fas fa-plus bg-blue2-dark shadow-huge"></i>
                <% end %>
            </div>
        </div>

        <div class="visible-slider-small double-slider owl-carousel owl-no-dots bottom-0">
          <% @languages&.each do |p| %>
            <%= link_to lecture_path(p.id) do %>
              <div class="slider-item">
                  <div data-height="320" class="caption round-small shadow-huge">
                      <div class="caption-top left-15 top-15">
                          <h6 class="color-white opacity-60"><%= p.category %></h6>
                      </div>
                      <div class="caption-center left-15">
                          <h1 class="color-white font-30 bottom-20 line-height-huge">
                              <%= p.title %>
                          </h1>
                          <p class="color-white opacity-80 bottom-0">
                              <%= p.address.truncate(50)%>
                          </p>
                      </div>
                      <div class="caption-bottom bottom-20 left-15 right-15">
                          <p class="bottom-0 font-10 color-white">70% Complete</p>
                          <div class="progress-bar-wrapper"
                               data-progress-complete="70"
                               data-progress-height="3"
                               data-progress-border="1"
                               data-progress-bar-color="#FFF"
                               data-progress-bar-background="rgba(255,255,255,0.2)">
                              <div class="progress-bar"></div>
                          </div>
                      </div>
                      <div class="caption-overlay bg-black opacity-70"></div>
                      <div class="caption-bg bg-1"></div>
                  </div>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="divider divider-margins"></div>


        <div class="content">
            <div class="content-title has-icon">
                <h3>창업 교육 강의 추천</h3>
                <span class="color-highlight">카페, 식당, 서비스 실전 창업 강의 제공</span>
                <%= link_to lecture_search_path(lecture_id: @business.last.category_before_type_cast) do %>
                  <i class="fas fa-plus bg-blue2-dark shadow-huge"></i>
                <% end %>
            </div>
        </div>

        <div class="single-slider visible-slider2-small owl-carousel owl-dots-under bottom-10">
          <% @business&.each do |p| %>
            <%= link_to lecture_path(p.id) do %>
            <div class="caption round-medium shadow-huge bottom-10">
                <div class="caption-bottom">
                    <h2 class="color-white center-text uppercase ultrabold"><%= p.title %></h2>
                    <p class="under-heading color-white center-text bottom-20"><%= p.address.truncate(40)%></p>
                </div>
                <div class="caption-overlay bg-gradient"></div>
                <img class="caption-image owl-lazy" data-src="images/pictures/18.jpg">
            </div>
          <% end %>
        <% end %>
        </div>

        <div class="divider divider-margins"></div>

        <div class="content">
            <div class="content-title has-icon">
                <h3>직업 강의 추천</h3>
                <span class="color-highlight">자소서, 면접, 자격증 등 직업 관련 강의</span>
                <%= link_to lecture_search_path(lecture_id: @work.last.category_before_type_cast) do %>
                  <i class="fas fa-plus bg-blue2-dark shadow-huge"></i>
                <% end %>
            </div>
        </div>

        <div class="visible-slider-small double-slider owl-carousel owl-no-dots bottom-0">
          <% @work&.each do |p| %>
            <%= link_to lecture_path(p.id) do %>
              <div class="slider-item">
                  <div data-height="320" class="caption round-small shadow-huge">
                      <div class="caption-top left-15 top-15">
                          <h6 class="color-white opacity-60"><%= p.category %></h6>
                      </div>
                      <div class="caption-center left-15">
                          <h1 class="color-white font-30 bottom-20 line-height-huge">
                              <%= p.title %>
                          </h1>
                          <p class="color-white opacity-80 bottom-0">
                              <%= p.address.truncate(50)%>
                          </p>
                      </div>
                      <div class="caption-bottom bottom-20 left-15 right-15">
                          <p class="bottom-0 font-10 color-white">70% Complete</p>
                          <div class="progress-bar-wrapper"
                               data-progress-complete="70"
                               data-progress-height="3"
                               data-progress-border="1"
                               data-progress-bar-color="#FFF"
                               data-progress-bar-background="rgba(255,255,255,0.2)">
                              <div class="progress-bar"></div>
                          </div>
                      </div>
                      <div class="caption-overlay bg-black opacity-70"></div>
                      <div class="caption-bg bg-1"></div>
                  </div>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="divider divider-margins"></div>


          <div class="content">
            <div class="content-title has-icon">
                <h3>코딩 교육 강의 추천</h3>
                <span class="color-highlight">웹, 앱 제작, 데이터 분석 및 데이터 베이스 교육</span>
                <%= link_to lecture_search_path(lecture_id: @codding.last.category_before_type_cast) do %>
                  <i class="fas fa-plus bg-blue2-dark shadow-huge"></i>
                <% end %>
            </div>
          </div>

          <div class="single-slider visible-slider2-small owl-carousel owl-dots-under bottom-10">
            <% @codding&.each do |p| %>
              <%= link_to lecture_path(p.id) do %>
              <div class="caption round-medium shadow-huge bottom-10">
                  <div class="caption-bottom">
                      <h2 class="color-white center-text uppercase ultrabold"><%= p.title %></h2>
                      <p class="under-heading color-white center-text bottom-20"><%= p.address.truncate(40)%></p>
                  </div>
                  <div class="caption-overlay bg-gradient"></div>
                  <img class="caption-image owl-lazy" data-src="images/pictures/18.jpg">
              </div>
            <% end %>
          <% end %>
          </div>

          <div class="divider divider-margins"></div>

          <div class="content">
              <div class="content-title has-icon">
                  <h3>문화 강의 추천</h3>
                  <span class="color-highlight">각 나라의 문화 체험 강의</span>
                  <%= link_to lecture_search_path(lecture_id: @culture.last.category_before_type_cast) do %>
                    <i class="fas fa-plus bg-blue2-dark shadow-huge"></i>
                  <% end %>
              </div>
          </div>

          <div class="visible-slider-small double-slider owl-carousel owl-no-dots bottom-0">
            <% @culture&.each do |p| %>
              <%= link_to lecture_path(p.id) do %>
                <div class="slider-item">
                    <div data-height="320" class="caption round-small shadow-huge">
                        <div class="caption-top left-15 top-15">
                            <h6 class="color-white opacity-60"><%= p.category %></h6>
                        </div>
                        <div class="caption-center left-15">
                            <h1 class="color-white font-30 bottom-20 line-height-huge">
                                <%= p.title %>
                            </h1>
                            <p class="color-white opacity-80 bottom-0">
                                <%= p.address.truncate(50)%>
                            </p>
                        </div>
                        <div class="caption-bottom bottom-20 left-15 right-15">
                            <p class="bottom-0 font-10 color-white">70% Complete</p>
                            <div class="progress-bar-wrapper"
                                 data-progress-complete="70"
                                 data-progress-height="3"
                                 data-progress-border="1"
                                 data-progress-bar-color="#FFF"
                                 data-progress-bar-background="rgba(255,255,255,0.2)">
                                <div class="progress-bar"></div>
                            </div>
                        </div>
                        <div class="caption-overlay bg-black opacity-70"></div>
                        <div class="caption-bg bg-1"></div>
                    </div>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="divider divider-margins"></div>

          <div class="content">
            <div class="content-title has-icon">
                <h3>컨텐츠 제작 강의 추천</h3>
                <span class="color-highlight">비디오, sns, 카드뉴스, 웹툰 등 컨텐츠 제작 강의</span>
                <%= link_to lecture_search_path(lecture_id: @content.last.category_before_type_cast) do %>
                  <i class="fas fa-plus bg-blue2-dark shadow-huge"></i>
                <% end %>
            </div>
          </div>

          <div class="single-slider visible-slider2-small owl-carousel owl-dots-under bottom-10">
            <% @content&.each do |p| %>
              <%= link_to lecture_path(p.id) do %>
              <div class="caption round-medium shadow-huge bottom-10">
                  <div class="caption-bottom">
                      <h2 class="color-white center-text uppercase ultrabold"><%= p.title %></h2>
                      <p class="under-heading color-white center-text bottom-20"><%= p.address.truncate(40)%></p>
                  </div>
                  <div class="caption-overlay bg-gradient"></div>
                  <img class="caption-image owl-lazy" data-src="images/pictures/18.jpg">
              </div>
            <% end %>
          <% end %>
          </div>

          <div class="divider divider-margins"></div>
