<!-- <div data-height="250" class="caption caption-margins round-medium shadow-large">
    <div class="caption-bottom center-text bottom-25">
        <h1 class="font-28 color-white">We're Enabled</h1>
        <span class="under-heading color-highlight font-11">The Best Mobile Author on Envato</span>
    </div>
    <div class="caption-overlay bg-gradient-fade"></div>
    <div class="caption-bg bg-9"></div>
</div> -->


<div class="content bottom-0">
    <a class="embedly-card" data-card-controls="0" href="<%= @lecture.preview_link.present? ? @lecture.preview_link : "https://alison.com/courses/microsoft-excel-2013-for-beginners-start-your-excel-journey/content?event=login" %>"></a>
</div>
<% if current_user&.user_type == "Learner" %>
<div class="content"><i class="fa fa-check color-green1-dark"></i> <span class="font-500 bottom-0"><%= @lecture.likes.count%> Registered</span></div>
  <% if current_user&.has_like?(@lecture) %>
      <%= link_to toggle_lecture_path(@lecture.id), remote: true do %>
      <div class="content red">
        <div class="chip chip-small bg-gray1-dark shadow-large">
            <i class="fa fa-check bg-green1-dark"></i>
            <span class="color-black">Registered</span>
        </div>
        <div class="back-button button button-full button-m round-small shadow-huge bg-highlight bg-red1-light top-30">
          <div
          style="color: white;"
          data-remote="true"
             data-snack-id="snack-3"
             data-snack-color="bg-red2-dark"
             data-snack-text="Lecture Cancelled"
             data-snack-icon="fa fa-times"
             class="no-border"
             >
              <i class="fa fa-times color-red2-dark"></i>
              <span>Cancel</span>
              <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>
      <div class="content green" style="display: none;">
        <div class="back-button button button-full button-m round-small shadow-huge bg-highlight bg-mint-dark top-30">
          <div
            style="color: white;"
            data-remote="true"
             data-snack-id="snack-1"
             data-snack-color="bg-green1-dark"
             data-snack-text="Successfully registered!"
             data-snack-icon="fa fa-check">
              <i class="fa fa-check color-green1-dark"></i>
              <span>Register</span>
              <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
  <%= link_to toggle_lecture_path(@lecture.id), remote: true do %>
    <div class="content green">
      <div class="back-button button button-full button-m round-small shadow-huge bg-highlight bg-mint-dark top-30">
        <div
          data-remote="true"
          style="color: white;"
           data-snack-id="snack-1"
           data-snack-color="bg-green1-dark"
           data-snack-text="Successfully registered!"
           data-snack-icon="fa fa-check">
            <i class="fa fa-check color-green1-dark"></i>
            <span>Register</span>
            <i class="fa fa-angle-right"></i>
        </div>
      </div>
    </div>
    <div class="content red" style="display: none;">
      <div class="chip chip-small bg-gray1-dark shadow-large">
          <i class="fa fa-check bg-green1-dark"></i>
          <span class="color-black">Registered</span>
      </div>
      <div class="back-button button button-full button-m round-small shadow-huge bg-highlight bg-red1-light top-30">
        <div
        style="color: white;"
        data-remote="true"
           data-snack-id="snack-3"
           data-snack-color="bg-red2-dark"
           data-snack-text="Lecture Cancelled"
           data-snack-icon="fa fa-times"
           class="no-border"
           >
            <i class="fa fa-times color-red2-dark"></i>
            <span>Cancel</span>
            <i class="fa fa-angle-right"></i>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<% elsif current_user&.user_type == "커피 구매자"%>
  <div class="content"><i class="fa fa-check color-green1-dark"></i> <span class="font-500 bottom-0"><%= @lecture.likes.count%>명 기부함</span></div>
  <% if current_user&.has_like?(@lecture) %>
  <%= link_to toggle_lecture_path(@lecture.id), remote: true do %>
    <div class="content red">
      <div class="chip chip-small bg-gray1-dark shadow-large">
          <i class="fa fa-check bg-green1-dark"></i>
          <span class="color-black">기부됨</span>
      </div>
      <div class="back-button button button-full button-m round-small shadow-huge bg-highlight bg-red1-light top-30">
        <div
        style="color: white;"
           data-snack-id="snack-3"
           data-snack-color="bg-red2-dark"
           data-snack-text="기부강의에서 취소하셨습니다."
           data-snack-icon="fa fa-times"
           class="no-border"
           >
            <i class="fa fa-times color-red2-dark"></i>
            <span>기부강의 취소</span>
            <i class="fa fa-angle-right"></i>
        </div>
      </div>
    </div>
    <div class="content green" style="display: none;">
      <div class="back-button button button-full button-m round-small shadow-huge bg-highlight bg-mint-dark top-30">
        <div
          style="color: white;"
           data-snack-id="snack-1"
           data-snack-color="bg-green1-dark"
           data-snack-text="기부강의에 담았습니다."
           data-snack-icon="fa fa-check">
            <i class="fa fa-check color-green1-dark"></i>
            <span>기부강의 담기</span>
            <i class="fa fa-angle-right"></i>
        </div>
      </div>
    </div>
  <% end %>
  <% else %>
    <%= link_to toggle_lecture_path(@lecture.id), remote: true do %>
      <div class="content green">
        <div class="back-button button button-full button-m round-small shadow-huge bg-highlight bg-mint-dark top-30">
          <div
            style="color: white;"
             data-snack-id="snack-1"
             data-snack-color="bg-green1-dark"
             data-snack-text="기부강의에 담았습니다."
             data-snack-icon="fa fa-check">
              <i class="fa fa-check color-green1-dark"></i>
              <span>기부강의 담기</span>
              <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>
      <div class="content red" style="display: none;">
        <div class="chip chip-small bg-gray1-dark shadow-large">
            <i class="fa fa-check bg-green1-dark"></i>
            <span class="color-black">기부됨</span>
        </div>
        <div class="back-button button button-full button-m round-small shadow-huge bg-highlight bg-red1-light top-30">
          <div
          style="color: white;"
             data-snack-id="snack-3"
             data-snack-color="bg-red2-dark"
             data-snack-text="기부강의에서 취소하셨습니다."
             data-snack-icon="fa fa-times"
             class="no-border"
             >
              <i class="fa fa-times color-red2-dark"></i>
              <span>기부강의 취소</span>
              <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="content"><i class="fa fa-check color-green1-dark"></i> <span class="font-500 bottom-0"><%= @lecture.likes.count%>명 기부함</span></div>
<div class="content" >
  <div class="chip chip-small bg-dark2-dark shadow-large">
    <%= link_to new_user_session_path do %>
      <i class="fa fa-check bg-green1-dark"></i>
      <span class="color-white">로그인 후 기부 가능합니다.</span>
    <% end %>
  </div>
</div>

<% end %>
<div class="content">
    <h5 class="bolder"><%= @lecture.title %></h5>
    <p>
        <%= @lecture.address %>
    </p>
</div>
<div class="snackbars snackbars-boxed snackbar-round">
    <a href="#" class="bg-blue2-dark" id="snackbar-manual-1"><i class="fa fa-sync fa-spin"></i>Just a second...</a>
</div>


<div class="content">
    <div class="content-title has-border border-green2-dark bottom-10">
        <h2>학습 목표</h2>
    </div>
    <span class="under-heading color-highlight font-10 bottom-10">The Force that Drives Us</span>
    <p class="bottom-30">
        Over the past 10 years we've built exclusively for Mobile Devices to make their experience perfect and app like.
    </p>

    <div class="link-list link-list-2 link-list-long-border link-list-icon-bg bottom-50">
        <a href="#">
            <i class="bg-red2-dark round-huge shadow-huge fa fa-user"></i>
            <span>30+ Customers</span>
            <strong>Always Happy To Help </strong>
            <i class="fa fa-check-circle font-15 color-green1-dark"></i>
        </a>
        <a href="#">
            <i class="bg-green1-dark round-huge shadow-huge fa fa-mobile-alt font-18"></i>
            <span>200+ Products</span>
            <strong>Mobile Websites and Apps</strong>
            <i class="fa fa-check-circle font-15 color-green1-dark"></i>
        </a>
        <a href="#">
            <i class="bg-yellow1-dark round-huge shadow-huge fa fa-star"></i>
            <span>100% Satisfaction</span>
            <strong>We're always here for You!</strong>
            <i class="fa fa-check-circle font-15 color-green1-dark"></i>
        </a>
    </div>

</div>



<div class="content">
    <div class="content-title has-border border-red2-dark bottom-10">
        <h2>강의 수강평</h2>
    </div>
    <span class="under-heading color-highlight font-10">강의를 수강한 학생들의 평가입니다.</span>
</div>

<div class="content bottom-0">
    <!-- <a href="#" class="clear">
        <div class="one-half small-half">
            <div data-height="95" class="caption round-small shadow-huge">
                <div class="caption-image">
                    <img src="images/pictures/18m.jpg" class="responsive-image">
                </div>
            </div>
        </div>
        <div class="one-half large-half last-column">
            <h5 class="color-theme">Kolor Mobile</h5>
            <span class="under-heading font-10 color-highlight">The Creative Mobile Page</span>
            <p class="font-12">
                Released with Creativity in mind and rocking a Beautiful Color Pack.
            </p>
        </div>
    </a> -->
    <!-- <a href="#" class="clear">
        <div class="one-half small-half">
            <div data-height="95" class="caption round-small shadow-huge">
                <div class="caption-image">
                    <img src="images/pictures/14m.jpg" class="responsive-image">
                </div>
            </div>
        </div>
        <div class="one-half large-half last-column">
            <h5 class="color-theme">Ultra Mobile</h5>
            <span class="under-heading font-10 color-highlight">Powerful Beyond Words</span>
            <p class="font-12">
                Designed to give you everything you'll ever need to rock your page.
            </p>
        </div>
    </a> -->
    <% if current_user&.user_type == "Learner"%>
      <div class="clear"></div>
      <h3>Leave Comments</h3>
      <%= form_for Comment.new, class: "external", remote: true do |f| %>
        <div class="form-field form-text">
            <%= f.text_area :content, class: "commentTextarea", required: true%>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :commentable_type, value: "Lecture"%>
            <%= f.hidden_field :commentable_id, value: @lecture.id%>
        </div>
        <div class="back-button button button-full button-m round-small shadow-huge bg-highlight top-30">
            <%= f.submit "Submit", style: "color: white; background: #F6BB42"%>
        </div>
      <% end %>
      <div class="clear"></div>
    <% end %>
    <div class="divider divider-margins"></div>

  <% if @lecture.comments.present? %>
    <% @lecture.comments&.order(id: :desc).each do |comment| %>
        <div class="commentList">
          <%= render 'comments/comment', comment: comment %>
        </div>
    <% end %>
  <% else %>
  <div class="content">
      <div class="review-1">
          <% if current_user&.user_type == "Learner"%>
          No Reviews
          <% else %>
          리뷰가 없습니다.
          <% end %>
      </div>
  </div>
  <div class="divider divider-margins"></div>
  <% end %>
</div>

  <!-- <div class="menu-hider"></div> -->

<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
<script>
  $('#contactMessageTextarea').on('click', function(){
    console.log("SS")
  })
</script>
