<div class="content bottom-0">
    <div class="one-half">
        <a href="#" class="button button-xs round-small shadow-large bg-highlight button-full bottom-30">메인</a>
    </div>
    <div class="one-half last-column">
        <%= link_to "회원 정보 수정", edit_user_registration_path(current_user&.id), class: "button button-xs round-small shadow-large button-border button-full border-highlight color-highlight bg-transparent bottom-0"%>
    </div>
    <div class="clear"></div>
</div>

<div class="divider divider-margins bottom-0"></div>

<!-- <div class="content gallery-view-controls">
    <a href="#" class="color-highlight gallery-view-1-activate"><i class="fa fa-th"></i></a>
    <a href="#" class="gallery-view-2-activate"><i class="fa fa-th-large"></i></a>
    <a href="#" class="gallery-view-3-activate"><i class="fa fa-bars"></i></a>
    <div class="clear"></div>
</div> -->

<div class="divider divider-margins bottom-15"></div>
<div class="content">
    <div class="content-title has-icon">
        <h3>나의 기부 강의</h3>
        <span class="color-highlight"><%= current_user&.name %>님의 강의 목록입니다</span>
        <i class="fas fa-plus bg-red2-dark shadow-huge"></i>
    </div>
</div>
<% if @likes.present? %>
  <% @likes.last(3).each do |p| %>
    <a href="lectures/<%= p.likable_id%>" data-menu="menu-portfolio-instant-1" data-height="230" class="caption caption-margins round-medium shadow-huge">
        <div class="caption-top left-15 top-15">
            <div class="caption-author-left">
                <img src="images/empty.png" data-src="images/preload-logo.png" class="preload-image">
                <strong>Enabled</strong>
                <span>2 Days Ago</span>
            </div>
        </div>
        <div class="caption-top top-15 right-10">
            <div class="clear"></div>
        </div>
        <div class="caption-bottom left-20 bottom-20">
            <p class="color-white opacity-70 bottom-0 font-12"><%= Lecture.find(p.likable_id).address.truncate(50) %></p>
            <h1 class="color-white bolder font-32"><%= Lecture.find(p.likable_id).title %></h1>
        </div>
        <div class="caption-overlay bg-black opacity-70"></div>
        <% if Lecture.find(p.likable_id).image.present? %>
          <%= image_tag(Lecture.find(p.likable_id).image.large.url)%>
        <% else %>
          <div class="caption-bg bg-18"></div>
        <% end %>
    </a>
  <% end %>
<% else %>
<div class="content caption round-medium shadow-huge" style='padding: 10px'>
  기부한 강의가 없습니다
</div>
<% end %>

<div class="content">
    <div class="content-title has-icon">
        <h3>수강생들의 한줄</h3>
        <span class="color-highlight"><%= current_user&.name %>님의 강의 수강생들의 강의평입니다.</span>
        <i class="fas fa-plus bg-red2-dark shadow-huge"></i>
    </div>
</div>

<% if @likes.present? %>
  <% @likes.last(3).each do |p| %>
    <% p.get_comments.each do |comment| %>
      <div class="content caption round-medium shadow-huge" style='padding: 10px'>
        <div class="review-5 container top-20">
            <h3 class="font-600"><%= comment.get_lecture.title %></h3>
            <h2><%= comment.user.name %></h2>
            <div class="review-stars">
                <i class="fa fa-star color-yellow1-dark"></i>
                <i class="fa fa-star color-yellow1-dark"></i>
                <i class="fa fa-star color-yellow1-dark"></i>
                <i class="fa fa-star color-yellow1-dark"></i>
                <i class="fa fa-star color-yellow1-dark"></i>
            </div>
            <img src="images/empty.png" data-src="images/pictures/18t.jpg" class="preload-image shadow-huge">
            <p>
          <%= comment.content %>
        </div>
      </div>
      <% end %>
  <% end %>
<% else %>
  <div class="content caption round-medium shadow-huge" style='padding: 10px'>
    댓글이 없습니다.
  </div>
<% end %>

<div class="divider divider-margins"></div>

<div class="content">
    <h1 class="center-text bottom-0 font-26">수강 등록 현황</h1><Br>
    <p class="center-text under-heading font-11 color-highlight bottom-30">각 강의별 수강자 현황입니다</p>
    <div class="chart-container">
        <canvas class="chart" id="pie-chart"/>
    </div>
</div>


<div class="divider divider-margins"></div>


<div class="menu-hider"></div>
