<div class="content bottom-0">
    <div class="one-half">
        <a href="#" class="button button-xs round-small shadow-large bg-highlight button-full bottom-30">Main page</a>
    </div>
    <div class="one-half last-column">
        <%= link_to "edit info", edit_user_registration_path(current_user&.id), class: "button button-xs round-small shadow-large button-border button-full border-highlight color-highlight bg-transparent bottom-0"%>
    </div>
    <div class="clear"></div>
</div>

<div class="divider divider-margins bottom-0"></div>

<!-- <div class="content gallery-view-controls">
    <a href="#" class="color-highlight gallery-view-1-activate"><i class="fa fa-th"></i></a>
    <a href="#" class="gallery-view-2-activate"><i class="fa fa-th-large"></i></a>
    <a href="#" class="gallery-view-3-activate"><i class="fa fa-bars"></i></a>
    <div class="clear"></div>
</div> -->

<div class="divider divider-margins bottom-15"></div>
<div class="content">
    <div class="content-title has-icon">
        <h3>My lectures</h3>
    </div>
</div>
<div class="content bottom-0">
  <div class="tab-controls tabs-round tab-animated tabs-small tabs-rounded shadow-large"
       data-tab-items="4"
       data-tab-active="bg-highlight color-white">
      <a href="#" data-filter="all" data-tab-active data-tab="tab-2">All</a>
      <a href="#" data-filter="0" data-tab="tab-1">Language</a>
      <a href="#" data-filter="1" data-tab="tab-2">Business</a>
      <a href="#" data-filter="3" data-tab="tab-3">Programming</a>
  </div><br><br><Br>
</div>
<div class="content bottom-0">
<% if @likes.present? %>
  <% @likes.last(3).each do |p| %>
    <a class="clear" href="<%= lecture_path(id: Lecture.find(p.likable_id)) %>" data-lightbox="gallery-filter-1" data-category="<%= Lecture.find(p.likable_id).category_before_type_cast.to_i %>" id="<%= Lecture.find(p.likable_id).category %>">
      <div class="one-half small-half">
          <div data-height="140" class="caption">
              <div class="caption-image">
                <% if Lecture.find(p.likable_id).image.present? %>
                  <img src="<%= Lecture.find(p.likable_id).image.url %>" class="responsive-image round-medium">
                <% else %>
                  <img src="<%= Lecture.find(p.likable_id).image_link.present? ? Lecture.find(p.likable_id).image_link : "images/pictures/28s.jpg"%>" class="responsive-image round-medium">
                <% end %>
              </div>
          </div>
      </div>
      <div class="one-half large-half last-column">
        <h5 class="color-theme"><%= Lecture.find(p.likable_id).title %></h5>
        <span class="under-heading font-10 color-highlight"><%= Lecture.find(p.likable_id).category %></span>
        <p class="font-12 bottom-10">
            <%= Lecture.find(p.likable_id).address.truncate(30) %>
        </p>
        <div class="one-half">
          <a href="<%= new_comment_path(lecture_id: Lecture.find(p.likable_id).id) %>" class="button shadow-huge button-xs button-circle bg-yellow1-dark">Review</a>
        </div>
      </div>
    </a>
  <% end %>
<% else %>
  <div class="content caption round-medium shadow-huge" style='padding: 10px'>
    No Registered Lectures
  </div>
<% end %>
</div><br><br><br><br><br><br><br><br><br>

<!-- <div class="content bottom-20">
    <div class="gallery-views gallery-view-1">
        <a class="default-link" data-lightbox="gallery-1" href="images/pictures/10t.jpg" title="Vynil and Typerwritter">
            <img src="images/empty.png" data-src="images/pictures/10t.jpg" class="preload-image round-small shadow-huge responsive-image" alt="img">
            <div class="caption">
                <h4 class="bottom-0 color-theme">Messy Desk?</h4>
                <p>Some may consider this to be a very messy desk.</p>
                <div class="divider bottom-0"></div>
            </div>
        </a>
        <a class="default-link" data-lightbox="gallery-1" href="images/pictures/11t.jpg" title="Fruit Cookie Pie">
            <img src="images/empty.png" data-src="images/pictures/11t.jpg" class="preload-image round-small shadow-huge responsive-image" alt="img">
            <div class="caption">
                <h4 class="bottom-0 color-theme">Designers Desk</h4>
                <p>With all the gadgets you'd ever wish for.</p>
                <div class="divider bottom-0"></div>
            </div>
        </a>
        <a class="default-link" data-lightbox="gallery-1" href="images/pictures/28t.jpg" title="Plain Cookies and Flour">
            <img src="images/empty.png" data-src="images/pictures/28t.jpg" class="preload-image round-small shadow-huge responsive-image" alt="img">
            <div class="caption">
                <h4 class="bottom-0 color-theme">Apple Watch</h4>
                <p>The perfect and small notification device.</p>
                <div class="divider bottom-0"></div>
            </div>
        </a>
        <a class="default-link" data-lightbox="gallery-1" href="images/pictures/18t.jpg" title="Pots and Stuff">
            <img src="images/empty.png" data-src="images/pictures/18t.jpg" class="preload-image round-small shadow-huge responsive-image" alt="img">
            <div class="caption">
                <h4 class="bottom-0 color-theme">City Landscape</h4>
                <p>It's absolutely gorgeous, we'd love to see it live.</p>
                <div class="divider bottom-0"></div>
            </div>
        </a>
        <a class="default-link" data-lightbox="gallery-1" href="images/pictures/14t.jpg" title="Delicious Strawberries">
            <img src="images/empty.png" data-src="images/pictures/14t.jpg" class="preload-image round-small shadow-huge responsive-image" alt="img">
            <div class="caption">
                <h4 class="bottom-0 color-theme">Typography and iPhone 5</h4>
                <p>A beautifully captured snap with great contrast.</p>
                <div class="divider bottom-0"></div>
            </div>
        </a>
        <a class="default-link" data-lightbox="gallery-1" href="images/pictures/15t.jpg" title="A Beautiful Camera">
            <img src="images/empty.png" data-src="images/pictures/15t.jpg" class="preload-image round-small shadow-huge responsive-image" alt="img">
            <div class="caption">
                <h4 class="bottom-0 color-theme">Feather and Paper?</h4>
                <p>Going back to days when things were simplere.</p>
            </div>
        </a>
    </div>
    <div class="clear"></div>
</div> -->
  <div class="content">
      <div class="content-title has-icon">
          <h3>My comments</h3>
      </div>
  </div>
<% if current_user.comments.present?%>
  <% current_user&.comments.order(id: :desc).last(3).each do |p| %>
    <div class="content caption round-medium shadow-huge" style='padding: 10px'>
        <div class="review-5 container top-20">
            <h4 class="font-600">5.00</h4>
            <h2>average rating</h2>
            <div class="review-stars">
                <i class="fa fa-star color-yellow1-dark"></i>
                <i class="fa fa-star color-yellow1-dark"></i>
                <i class="fa fa-star color-yellow1-dark"></i>
                <i class="fa fa-star color-yellow1-dark"></i>
                <i class="fa fa-star color-yellow1-dark"></i>
            </div>
            <p>
            <%= p.content %>
        </div>
    </div>
  <% end %>
<% else %>
  <div class="content caption round-medium shadow-huge" style='padding: 10px'>
    No Comments
  </div>
<% end %>

<div class="divider divider-margins"></div>


<div class="menu-hider"></div>
