<div class="divider divider-margins bottom-30"></div>
<div class="content">
    <div class="content-title has-icon">
        <h3>나의 기부 강의</h3>
        <span class="color-highlight"><%= current_user&.name %>님의 강의 목록입니다</span>
        <%= link_to my_lecture_path do %><i class="fas fa-plus bg-red2-dark shadow-huge"></i><% end %>
    </div>
</div>

<% if @likes.present? %>
  <% @likes.each do |p| %>
    <a href="lectures/<%= p.likable_id%>" data-menu="menu-portfolio-instant-1" data-height="230" class="caption caption-margins round-medium shadow-huge">
        <div class="caption-top left-15 top-15">
            <div class="caption-author-left">
                <img src="images/empty.png" data-src="images/preload-logo.png" class="preload-image">
                <strong>Enabled</strong>
                <span>2 Days Ago</span>
            </div>
        </div>
        <div class="caption-top top-15 right-10">
            <div class="clear"></div>
        </div>
        <div class="caption-bottom left-20 bottom-20">
            <p class="color-white opacity-70 bottom-0 font-12"><%= Lecture.find(p.likable_id).address.truncate(50) %></p>
            <h1 class="color-white bolder font-32"><%= Lecture.find(p.likable_id).title %></h1>
        </div>
        <div class="caption-overlay bg-black opacity-70"></div>
        <% if Lecture.find(p.likable_id).image.present? %>
          <%= image_tag(Lecture.find(p.likable_id).image.large.url)%>
        <% else %>
          <div class="caption-bg bg-18"></div>
        <% end %>
    </a>
  <% end %>
<% else %>
<div class="content caption round-medium shadow-huge" style='padding: 10px'>
  기부한 강의가 없습니다
</div>
<% end %>
