<div class="profile-header">
    <div class="profile-left">
        <h1><%= current_user&.name %><i class="fa fa-check-circle color-highlight"></i></h1>
        <p>
            <%= current_user&.email%>
        </p>
        <% if current_user.user_type == "Learner" %>
        <a href="#" class="color-theme">Total <%= @point.point%> Blends</a>
        <% else %>
        <a href="#" class="color-theme">총 <%= @point.point%> 블렌드</a>
        <% end %>
        <div class="clear"></div>
    </div>
    <div class="profile-right">
        <a href="#">
            <img src="/images/cover_02.jpeg" data-src="/images/cover_02.jpeg" class="preload-image shadow-large">
        </a>
    </div>
</div>
<% if current_user.user_type == "Learner" %>
  <%= render 'home/refugee'%>
<% else %>
  <%= render 'home/donor'%>
<% end %>
