
<div data-height="cover" class="caption bottom-0">
  <div class="caption-center">

      <div class="content left-40 right-40 bg-white round-medium shadow-huge">
          <div class="content">

              <h1 class="color-black font-27 top-30">로그인</h1>
              <span class="under-heading color-highlight font-11 bold">이메일 및 비밀번호 입력</span>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "external") do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="input-style input-style-1 input-required top-20">
                  <span>이메일</span>
                  <em>(필수)</em>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "이메일" %>
              </div>
              <div class="input-style input-style-1 input-required">
                  <span>비밀번호</span>
                  <em>(필수)</em>
                  <%= f.password_field :password, autocomplete: "current-password", placeholder: "비밀번호"%>
              </div>
              <div class="clear"></div>
              <div class="back-button button button-full button-m round-small shadow-huge bg-highlight top-30">
                <%= f.submit "로그인" , style: "color: white; background: #F6BB42"%>
              </div>
              <% end %>
              <%= render "devise/shared/links" %>
          </div>
      </div>
  </div>

    <div class="caption-overlay opacity-70"></div>
    <div class="caption-bg bg-login"></div>
</div>
