<!DOCTYPE html>
<html>
  <head>
    <title>Blend</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>Asterial Mobile</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/styles/framework.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,400i,500,500i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/fonts/css/fontawesome-all.min.css">
    <!-- Don't forget to update PWA version (must be same) in pwa.js & manifest.json -->
    <!-- <link rel="manifest" href="/_manifest.json" data-pwa-version="set_by_pwa.js"> -->

    <%= tag(:link, rel: 'manifest', href: asset_path('/_manifest.json')) %>
    <link rel="apple-touch-icon" sizes="180x180" href="/app/icons/icon-192x192.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
  </head>

  <body>
    <%= render 'shared/header'%>
    <div data-role="page" data-url="<%= request.path %>">
      <%= yield %>
    </div>
    <% if current_user&.user_type == "Learner"%>
      <%= render 'shared/learner_footer'%>
    <% else %>
      <%= render 'shared/footer'%>
    <% end %>
    <!-- <script type="text/javascript" src="/scripts/jquery.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/plugins.js"></script>
    <script type="text/javascript" src="/scripts/custom.js" async></script>
  </body>
</html>
